# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted to LF line endings on checkout.
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
Dockerfile* text eol=lf
